.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 250px;
  min-height: 80vh;
  background-color: var(--gris-claro);
}

.panelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--rosa);
}

.panelHeader h3 {
  margin: 0;
  padding: 0.5rem;
}

.clearFiltersButton {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: #0070f3;
  color: #fff;
}

.panelBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 250px;
}

.panelSection {
  min-width: 100%;
}

.sectionHeaderButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
}

.sectionItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.itemInput {
  margin: 0;
  padding: 0.5rem;
  border: none;
  background-color: chartreuse;
}

.itemLabel {
  margin: 0;
  padding: 0.5rem;
  border: none;
  background-color: darkkhaki;
}

.priceInput {
  width: 3rem;
}

.searchButton {
  border: none;
}

.priceSlider {
  width: 100%;
  height: 1px;
  background-color: var(--verde);
  margin: 2rem 0;
}

.priceSlider .thumb {
  width: 14px;
  height: 14px;
  cursor: grab;
  background-color: white;
  border-radius: 50%;
  border: 4px solid var(--verde);
  top: -7px;
}
