.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 50rem;  
}

.container h2 {

    padding-left: 2rem;
    color: var(--gris-oscuro);
}