.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  min-height: 80vh;
  background-color: bisque;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: var(--rosa);
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  min-height: 80vh;
  min-width: 100%;
  background-color: aquamarine;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: darkgoldenrod;
}

.prodContainerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: blueviolet;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.mobileControllers {
  display: none;
}
